@import "compass/reset";
@import "compass/css3";
@import "compass/css3/filter";

body {
    overflow: hidden;
}

.nav {
    display: flex;
    @include justify-content(center);
    z-index: 200;
    position: fixed;
    top: 0;
    right: 0;
    padding: 16px;

    a {
        color: #999;
        transition: all 0.3s ease;
        margin-left: 16px;

        &:hover {
            color: #ccc;
        }
    }
}

.footer {
    position: fixed;
    bottom: 32px;
    left: 0;
    right: 0;
    color: #ccc;
    z-index: 100;
    font-family: 'Lato', sans-serif;

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);

    a {
        color: #ccc;
    }
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);

    img {
        width: 64px;
        height: auto;
    }

    p {
        color: #eee;
    }
}